<div class="container" *ngIf="userDetails">
  <h2><a [routerLink]="['/']">Job Tracker</a></h2>
  <div class="container-inner">
    <a [routerLink]="['create']">Create </a>
    <span>|</span>
    <a [routerLink]="['jobs']">Jobs </a>
    <span>|</span>
    <button type="submit" (click)="onLogout()" class="logout-btn">
      Logout
    </button>
  </div>
</div>

<div class="container" *ngIf="!userDetails">
  <h2><a [routerLink]="['/']">Job Tracker</a></h2>
  <div class="container-inner">
    <a [routerLink]="['login']">Log In </a>
    <span>|</span>
    <a [routerLink]="['signup']">Sign Up </a>
  </div>
</div>
