.container {
  background: #363636;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  height: 80vh;
  width: 87vw;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  color: #cc527a;
  font-size: 8em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0.5vw solid #cc527a;
  text-align: left;
  /* padding: 8px; */
  color: #a8a7a7;
}

tr:nth-child(even) {
  color: #363636;
  background-color: #cc527a;
}

input {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 1em;
  width: 10vw;
  height: 5vh;
  border-style: none;
  border-radius: 0%;
}
